<h1>Store#edit</h1>
<p>Find me in app/views/store/edit.html.erb</p>

<%= form_tag(controller: "stores", action: "save", method: "put") do %>
	<%= text_field_tag("Name", @store.name ) %>
  <%= text_field_tag("Town", @store.town ) %>
  <p>
  <%= submit_tag("Create!") %>
<% end %>

