<h1>Store#edit</h1>
<p>Find me in app/views/store/edit.html.erb</p>

<form>

<input type="text" class="name-field" value="<%= @store.name %>">
<input type="text" class="town-field" value="<%= @store.town %>">

<button id="random">random</button>
</form>